<h1>this is a private page</h1>
<iframe src="https://giphy.com/embed/TIXk3t3SkuiQP6R2HO" width="480" height="270" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>
<br>
<a href="/">Home</a>
<a href="/profile">Profile</a>